<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="description" content="<%= current_page.data.description || "Bourbon is a lightweight mixin library for Sass." %>">
    <title><%= current_page.data.title || "Bourbon" %></title>
    <%= stylesheet_link_tag "main" %>
  </head>
  <body>
    <%= partial "partials/site_nav" %>
    <%= partial "partials/site_header" %>
    <main class="screen-main" role="main">
      <%= yield %>
    </main>
    <%= partial "partials/site_footer" %>
    <%= javascript_include_tag :main %>
    <%= partial "partials/analytics" %>
  </body>
</html>
