<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="<%= page_description %>">
  <title><%= page_title %></title>
  <% if content_for?(:preferred_path) %>
    <link rel="canonical" href="<%= preferred_url %>">
  <% end %>
  <%= stylesheet_link_tag "main" %>
  <%= stylesheet_link_tag "https://fonts.googleapis.com/css?family=Inconsolata" %>
</head>
