<footer class="site-footer" role="contentinfo">
  <div class="container">

    <%= partial "partials/thoughtbot_logo" %>

    <span class="site-copyright">&copy; <%= Date.today.year %> <%= link_to "thoughtbot, inc.", "//thoughtbot.com" %></span>

    <nav role="navigation">
      <ol>
        <li><%= link_to "Documentation", "//bourbon.io/docs" %></li>
        <li><%= link_to "References", "references" %></li>
        <li><%= link_to "GitHub", "//github.com/thoughtbot/bourbon" %></li>
        <li><%= link_to "Twitter", "//twitter.com/bourbonsass" %></li>
      </ol>
    </nav>
  </div>
</footer>
