%footer.site-footer{ role: "contentinfo" }
  .container
    = partial "partials/thoughtbot_logo"
    %span.site-copyright
      &copy; #{Date.today.year} #{link_to "thoughtbot, inc.", "//thoughtbot.com"}
    %nav{ role: "navigation" }
      %ol
        %li= link_to "Documentation", "/docs"
        %li= link_to "References", "/references"
        %li= link_to "GitHub", "//github.com/thoughtbot/bourbon"
        %li= link_to "Twitter", "//twitter.com/bourbonsass"
