---
title: "Bourbon Documentation"
---
%section
  .container
    = version_number
    - data.send(version_number.to_sym).each do |item|
      - if item.access["public"]
        %article.docs-item
          %h1
            %code= item.context.name
          = markdown(item.description)
          %a{ href: "//github.com/thoughtbot/bourbon/blob/master/core/#{item.file.path}" } View Source
          = partial("partials/parameters", locals: { item: item })
          - if item["return"]
            %mark<
              = precede "Returns " do
                = item.return.type
          = partial("partials/example", locals: { item: item })
