<% content_for :preferred_path, "docs/#{version}/" %>

<% content_for :page_title, "Documentation" %>

<% content_for :description do %>
  Official documentation and technical reference for Bourbon #{version},
  a lightweight Sass tool set.
<% end %>

<% content_for :flash do %>
  <div class="c-flash-message">
    Updating from v4 to v5?
    <%= link_to(
      "Read our migration guide →",
      "/docs/migrating-from-v4-to-v5/"
    ) %>
  </div>
<% end %>

<% content_for :page_header_actions do %>
  <nav class="c-dropdown">
    <button
      class="c-button c-button--primary"
      aria-expanded="false"
      aria-controls="versions-dropdown"
      data-js="dropdown"
    >
      v<%= version %> <span class="c-dropdown__caret">▼</span>
    </button>

    <div class="c-dropdown__body" id="versions-dropdown" hidden>
      <ol class="p-list-bare">
        <% versions.reverse_each do |version| %>
          <li class="c-dropdown__item">
            <%= link_to "v#{version}", "/docs/#{version}/" %>
          </li>
        <% end %>

        <li class="c-dropdown__item">
          <%= link_to "v4", "/docs/4/" %>
        </li>
      </ol>
    </div>
  </nav>
<% end %>

<% content_for :docs_sidebar do %>
  <nav class="c-docs-nav" role="navigation">
    <ol class="p-list-bare">
      <% version.doc_items.each do |item| %>
        <li>
          <% link_to(
            "##{item.context.name.parameterize}",
            class: "c-docs-nav__link",
          ) do %>
            <%= item.context.name %>
          <% end %>
        </li>
      <% end %>
    </ol>
  </nav>
<% end %>

<% version.doc_items.each do |item| %>
  <article class="c-doc-item" id="<%= item.context.name.parameterize %>">
    <%= partial "doc_item_header", locals: {
      item: item,
      version: version,
    } %>
    <%= partial "doc_item_arguments", locals: { item: item } %>
    <%= partial "doc_item_properties", locals: { item: item } %>
    <%= partial "doc_item_example", locals: { item: item } %>
  </article>
<% end %>
